obj
*.exe
exe
*.o
o
Release
*.save
save
*.save
*.layout
/kore/*.save
bin
/openCV_test/*.layout
/tests/*.layout
/wx_test/wx_pch.h.gch
/wx_test/Debug
/boost_asio_simple_server_client/client/Debug
/boost_asio_simple_server_client/server/Debug
/boost_asio_simple_server_client/*.layout
*.depend
*.bak
